Package: com.sirjeffersoniii.ednwnl
Name: Empire Did Nothing Wrong No Logo
Version: 1.0.1
Section: Widgets
Architecture: iphoneos-arm
Description: Empire Did Nothing Wrong No Logo
Author: SirJeffersonIII
Maintainer: SirJeffersonIII
