Package: com.sirjeffersoniii.ednw
Name: Empire Did Nothing Wrong
Version: 1.0.20
Section: Widgets
Architecture: iphoneos-arm
Description: Empire Did Nothing Wrong
Author: SirJeffersonIII
Maintainer: SirJeffersonIII
Depends: com.matchstic.xenhtml
